In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("energy_sources_state.csv")

In [5]:
df.head()

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,2017F,AK,ABICB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,-14.0,-4.0,0.0,0.0,-5.0,-2.0,-3.0,-3.0,-2.0
1,2017F,AK,ARICB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
2,2017F,AK,ARTCB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
3,2017F,AK,ARTXB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
4,2017F,AK,AVACB,5209.0,6441.0,5202.0,3273.0,2319.0,1478.0,1086.0,...,1008.0,1095.0,854.0,801.0,776.0,701.0,658.0,317.0,137.0,214.0

In [6]:
#msn_codes = {"NNTCB":"Natural Gas", "CLTCB": "Coal", "MMTCB": "Motor Gas excl Ethanol", "DFTCB": "Distillate Fuel Oil",
            #"JFTCB": "Jet Fuel", "HLTCB": "HGL", "RFTCB": "Residual Fueal", "P1TCB": "Other Petroleum",
            #"NUETB": "Nuclear Electric Power", "HYTCB": "Hydroelectric Power", "BMTCB": "Biomass",
            #"RETCB": "Other Renewables"}

In [7]:
#energy_types = pd.DataFrame()

In [8]:
#for key,value in msn_codes.items():
    #new_df = df.loc[df.MSN==key]
    #energy_types = energy_types.append(new_df)
    #energy_type = value
    #msn = key
    #print(energy_type)
    
    #for index,row in new_df.iterrows():
        #if new_df["MSN"] == msn:
        #new_df["Energy_Type"] = energy_type
        #energy_types = energy_types.append(new_df)

In [9]:
energy_types_state = df.loc[(df.MSN=="NNTCB") | (df.MSN=="CLTCB") | (df.MSN=="MMTCB") | (df.MSN=="DFTCB") | (df.MSN=="JFTCB")
                           | (df.MSN=="HLTCB") | (df.MSN=="RFTCB") | (df.MSN=="P1TCB") | (df.MSN=="NUETB")
                           | (df.MSN=="HYTCB") | (df.MSN=="BMTCB") | (df.MSN=="RETCB")]

In [10]:
energy_types_state.head(15)

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
7,2017F,AK,BMTCB,3681.0,4145.0,4246.0,4383.0,4728.0,4863.0,5035.0,...,1233.0,2543.0,2704.0,2675.0,2263.0,3357.0,3522.0,7488.0,8093.0,7023.0
19,2017F,AK,CLTCB,7189.0,11552.0,13559.0,11999.0,12029.0,9888.0,16431.0,...,14705.0,14505.0,14548.0,15481.0,15521.0,14819.0,18225.0,19511.0,16613.0,16376.0
27,2017F,AK,DFTCB,15354.0,17023.0,17412.0,18196.0,20441.0,22066.0,23805.0,...,75258.0,83571.0,79470.0,84569.0,79460.0,73218.0,73108.0,78162.0,64261.0,59052.0
63,2017F,AK,HLTCB,176.0,311.0,214.0,304.0,328.0,350.0,378.0,...,1277.0,1555.0,1371.0,1279.0,1299.0,1257.0,1265.0,1094.0,1165.0,1240.0
68,2017F,AK,HYTCB,3120.0,3168.0,3207.0,3410.0,3374.0,3655.0,3293.0,...,11547.0,12920.0,13982.0,13066.0,14988.0,13696.0,14633.0,14621.0,15317.0,15143.0
75,2017F,AK,JFTCB,10632.0,12803.0,15493.0,15800.0,16395.0,16517.0,20621.0,...,135044.0,106292.0,128857.0,118226.0,113205.0,107338.0,96006.0,102899.0,104844.0,100500.0
98,2017F,AK,MMTCB,8702.0,9514.0,10059.0,10529.0,10918.0,12868.0,10057.0,...,34251.0,34135.0,34846.0,33634.0,33718.0,32797.0,34213.0,34782.0,35217.0,34250.0
108,2017F,AK,NNTCB,2034.0,2300.0,4048.0,5567.0,6805.0,7670.0,12282.0,...,343938.0,343971.0,334978.0,339819.0,347228.0,332631.0,329274.0,333936.0,330883.0,343908.0
110,2017F,AK,NUETB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,2017F,AK,P1TCB,6076.0,7276.0,6055.0,5892.0,5038.0,4365.0,4716.0,...,30429.0,36379.0,42378.0,44833.0,40227.0,37003.0,32619.0,27883.0,27774.0,29128.0
141,2017F,AK,RETCB,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
146,2017F,AK,RFTCB,4472.0,4081.0,4519.0,4708.0,5010.0,5539.0,6078.0,...,2465.0,3454.0,2158.0,1897.0,2719.0,593.0,750.0,731.0,0.0,0.0
209,2017F,AL,BMTCB,45681.0,46171.0,45959.0,45764.0,46341.0,47641.0,49102.0,...,176472.0,151086.0,180391.0,191327.0,192362.0,209069.0,200364.0,187987.0,187447.0,188663.0
221,2017F,AL,CLTCB,395400.0,382455.0,427177.0,442465.0,459000.0,533142.0,583457.0,...,842826.0,630969.0,718684.0,651032.0,547004.0,565051.0,575912.0,494311.0,410168.0,378890.0
229,2017F,AL,DFTCB,31413.0,25250.0,28903.0,29949.0,34403.0,30587.0,29948.0,...,152438.0,139850.0,147986.0,155442.0,156621.0,145092.0,143410.0,153651.0,169094.0,163537.0

In [11]:
working = energy_types_state
working.head()

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
7,2017F,AK,BMTCB,3681.0,4145.0,4246.0,4383.0,4728.0,4863.0,5035.0,...,1233.0,2543.0,2704.0,2675.0,2263.0,3357.0,3522.0,7488.0,8093.0,7023.0
19,2017F,AK,CLTCB,7189.0,11552.0,13559.0,11999.0,12029.0,9888.0,16431.0,...,14705.0,14505.0,14548.0,15481.0,15521.0,14819.0,18225.0,19511.0,16613.0,16376.0
27,2017F,AK,DFTCB,15354.0,17023.0,17412.0,18196.0,20441.0,22066.0,23805.0,...,75258.0,83571.0,79470.0,84569.0,79460.0,73218.0,73108.0,78162.0,64261.0,59052.0
63,2017F,AK,HLTCB,176.0,311.0,214.0,304.0,328.0,350.0,378.0,...,1277.0,1555.0,1371.0,1279.0,1299.0,1257.0,1265.0,1094.0,1165.0,1240.0
68,2017F,AK,HYTCB,3120.0,3168.0,3207.0,3410.0,3374.0,3655.0,3293.0,...,11547.0,12920.0,13982.0,13066.0,14988.0,13696.0,14633.0,14621.0,15317.0,15143.0

In [12]:
msn_codes = {"NNTCB":"Natural Gas", "CLTCB": "Coal", "MMTCB": "Motor Gas excl Ethanol", "DFTCB": "Distillate Fuel Oil",
            "JFTCB": "Jet Fuel", "HLTCB": "HGL", "RFTCB": "Residual Fueal", "P1TCB": "Other Petroleum",
            "NUETB": "Nuclear Electric Power", "HYTCB": "Hydroelectric Power", "BMTCB": "Biomass",
            "RETCB": "Total Renewables"}

In [13]:
for key,value in msn_codes.items():
    energy_type = value
    working.loc[(working.MSN == key),'Energy_Type']=energy_type
    #print(energy_type)

/Users/allysontalyor/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/allysontalyor/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [14]:
working.head()

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Energy_Type
7,2017F,AK,BMTCB,3681.0,4145.0,4246.0,4383.0,4728.0,4863.0,5035.0,...,2543.0,2704.0,2675.0,2263.0,3357.0,3522.0,7488.0,8093.0,7023.0,Biomass
19,2017F,AK,CLTCB,7189.0,11552.0,13559.0,11999.0,12029.0,9888.0,16431.0,...,14505.0,14548.0,15481.0,15521.0,14819.0,18225.0,19511.0,16613.0,16376.0,Coal
27,2017F,AK,DFTCB,15354.0,17023.0,17412.0,18196.0,20441.0,22066.0,23805.0,...,83571.0,79470.0,84569.0,79460.0,73218.0,73108.0,78162.0,64261.0,59052.0,Distillate Fuel Oil
63,2017F,AK,HLTCB,176.0,311.0,214.0,304.0,328.0,350.0,378.0,...,1555.0,1371.0,1279.0,1299.0,1257.0,1265.0,1094.0,1165.0,1240.0,HGL
68,2017F,AK,HYTCB,3120.0,3168.0,3207.0,3410.0,3374.0,3655.0,3293.0,...,12920.0,13982.0,13066.0,14988.0,13696.0,14633.0,14621.0,15317.0,15143.0,Hydroelectric Power

In [15]:
working.columns

Index(['Data_Status', 'State', 'MSN', '1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       'Energy_Type'],
      dtype='object')

In [16]:
final = working.drop(["Data_Status"], axis=1)

In [17]:
final.head()

,State,MSN,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Energy_Type
7,AK,BMTCB,3681.0,4145.0,4246.0,4383.0,4728.0,4863.0,5035.0,4671.0,...,2543.0,2704.0,2675.0,2263.0,3357.0,3522.0,7488.0,8093.0,7023.0,Biomass
19,AK,CLTCB,7189.0,11552.0,13559.0,11999.0,12029.0,9888.0,16431.0,18462.0,...,14505.0,14548.0,15481.0,15521.0,14819.0,18225.0,19511.0,16613.0,16376.0,Coal
27,AK,DFTCB,15354.0,17023.0,17412.0,18196.0,20441.0,22066.0,23805.0,25940.0,...,83571.0,79470.0,84569.0,79460.0,73218.0,73108.0,78162.0,64261.0,59052.0,Distillate Fuel Oil
63,AK,HLTCB,176.0,311.0,214.0,304.0,328.0,350.0,378.0,406.0,...,1555.0,1371.0,1279.0,1299.0,1257.0,1265.0,1094.0,1165.0,1240.0,HGL
68,AK,HYTCB,3120.0,3168.0,3207.0,3410.0,3374.0,3655.0,3293.0,3786.0,...,12920.0,13982.0,13066.0,14988.0,13696.0,14633.0,14621.0,15317.0,15143.0,Hydroelectric Power

In [18]:
final = final.reset_index()

In [19]:
final.head(15)

,index,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Energy_Type
0,7,AK,BMTCB,3681.0,4145.0,4246.0,4383.0,4728.0,4863.0,5035.0,...,2543.0,2704.0,2675.0,2263.0,3357.0,3522.0,7488.0,8093.0,7023.0,Biomass
1,19,AK,CLTCB,7189.0,11552.0,13559.0,11999.0,12029.0,9888.0,16431.0,...,14505.0,14548.0,15481.0,15521.0,14819.0,18225.0,19511.0,16613.0,16376.0,Coal
2,27,AK,DFTCB,15354.0,17023.0,17412.0,18196.0,20441.0,22066.0,23805.0,...,83571.0,79470.0,84569.0,79460.0,73218.0,73108.0,78162.0,64261.0,59052.0,Distillate Fuel Oil
3,63,AK,HLTCB,176.0,311.0,214.0,304.0,328.0,350.0,378.0,...,1555.0,1371.0,1279.0,1299.0,1257.0,1265.0,1094.0,1165.0,1240.0,HGL
4,68,AK,HYTCB,3120.0,3168.0,3207.0,3410.0,3374.0,3655.0,3293.0,...,12920.0,13982.0,13066.0,14988.0,13696.0,14633.0,14621.0,15317.0,15143.0,Hydroelectric Power
5,75,AK,JFTCB,10632.0,12803.0,15493.0,15800.0,16395.0,16517.0,20621.0,...,106292.0,128857.0,118226.0,113205.0,107338.0,96006.0,102899.0,104844.0,100500.0,Jet Fuel
6,98,AK,MMTCB,8702.0,9514.0,10059.0,10529.0,10918.0,12868.0,10057.0,...,34135.0,34846.0,33634.0,33718.0,32797.0,34213.0,34782.0,35217.0,34250.0,Motor Gas excl Ethanol
7,108,AK,NNTCB,2034.0,2300.0,4048.0,5567.0,6805.0,7670.0,12282.0,...,343971.0,334978.0,339819.0,347228.0,332631.0,329274.0,333936.0,330883.0,343908.0,Natural Gas
8,110,AK,NUETB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Nuclear Electric Power
9,115,AK,P1TCB,6076.0,7276.0,6055.0,5892.0,5038.0,4365.0,4716.0,...,36379.0,42378.0,44833.0,40227.0,37003.0,32619.0,27883.0,27774.0,29128.0,Other Petroleum
10,141,AK,RETCB,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,...,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0,Total Renewables
11,146,AK,RFTCB,4472.0,4081.0,4519.0,4708.0,5010.0,5539.0,6078.0,...,3454.0,2158.0,1897.0,2719.0,593.0,750.0,731.0,0.0,0.0,Residual Fueal
12,209,AL,BMTCB,45681.0,46171.0,45959.0,45764.0,46341.0,47641.0,49102.0,...,151086.0,180391.0,191327.0,192362.0,209069.0,200364.0,187987.0,187447.0,188663.0,Biomass
13,221,AL,CLTCB,395400.0,382455.0,427177.0,442465.0,459000.0,533142.0,583457.0,...,630969.0,718684.0,651032.0,547004.0,565051.0,575912.0,494311.0,410168.0,378890.0,Coal
14,229,AL,DFTCB,31413.0,25250.0,28903.0,29949.0,34403.0,30587.0,29948.0,...,139850.0,147986.0,155442.0,156621.0,145092.0,143410.0,153651.0,169094.0,163537.0,Distillate Fuel Oil

In [20]:
state_list = final["State"].unique().tolist()
state_list

['AK',
 'AL',
 'AR',
 'AZ',
 'CA',
 'CO',
 'CT',
 'DC',
 'DE',
 'FL',
 'GA',
 'HI',
 'IA',
 'ID',
 'IL',
 'IN',
 'KS',
 'KY',
 'LA',
 'MA',
 'MD',
 'ME',
 'MI',
 'MN',
 'MO',
 'MS',
 'MT',
 'NC',
 'ND',
 'NE',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'US',
 'UT',
 'VA',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY']

In [21]:
final.columns

Index(['index', 'State', 'MSN', '1960', '1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', 'Energy_Type'],
      dtype='object')

In [22]:
year_list = ['1960']#, '1961', '1962', '1963', '1964', '1965', '1966',
       #'1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       #'1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       #'1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       #'1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       #'2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       #'2012', '2013', '2014', '2015', '2016', '2017']
state_list = ["IN"]

In [23]:
calculated = []
for state in state_list:
    state_df = final.loc[final["State"]== state]
    for year in year_list:
        state_year = state_df[year]
        state_values = state_year.iloc[0:12].tolist()
        renew = state_values[10]
        total_renewable = renew[0]
        bio = state_values[0]
        biomass = bio[0]
        hydro = state_values[4]
        hydroelectric = hydro[0]
        other_renewable = total_renewable-biomass-hydroelectric
        calculated.append()

TypeError: 'float' object is not subscriptable

In [ ]:
calculated

In [ ]:
indiana = final.loc[final["State"]=="IN"]
indiana.head(12)

In [ ]:
us_df = pd.read_csv("energy_sources_us.csv")
us_df.head()

In [ ]:
energy_types_us = us_df.loc[(us_df.MSN=="NNTCB") | (us_df.MSN=="CLTCB") | (us_df.MSN=="MMTCB") | (us_df.MSN=="DFTCB") | (us_df.MSN=="JFTCB")
                           | (us_df.MSN=="HLTCB") | (us_df.MSN=="RFTCB") | (us_df.MSN=="P1TCB") | (us_df.MSN=="NUETB")
                           | (us_df.MSN=="HYTCB") | (us_df.MSN=="BMTCB") | (us_df.MSN=="RETCB")]
energy_types_us

In [ ]:
energy_types_us_copy = energy_types_us

In [ ]:
msn_codes = {"NNTCB":"Natural Gas", "CLTCB": "Coal", "MMTCB": "Motor Gas excl Ethanol", "DFTCB": "Distillate Fuel Oil",
            "JFTCB": "Jet Fuel", "HLTCB": "HGL", "RFTCB": "Residual Fueal", "P1TCB": "Other Petroleum",
            "NUETB": "Nuclear Electric Power", "HYTCB": "Hydroelectric Power", "BMTCB": "Biomass",
            "RETCB": "Total Renewables"}

In [ ]:
for key,value in msn_codes.items():
    energy_type = value
    energy_types_us_copy.loc[(energy_types_us_copy.MSN == key),'Energy_Type']=energy_type
    #print(energy_type)

In [ ]:
energy_types_us_copy

In [ ]:
final_us = energy_types_us_copy.drop(["Data_Status"], axis=1)

In [ ]:
final_us.reset_index()

In [ ]:
final_us.to_csv("cleaned_energy_sources_us.csv")